[Service]
WorkingDirectory=/home/niclettel
ExecStart=/usr/bin/java {{ spring_boot_app_options }} -jar -Dspring.profiles.active={{ spring_boot_app_active_profiles }} /home/niclettel/app.jar
Restart=on-failure
User=niclettel
Group=niclettel

[Install]
WantedBy=multi-user.target
